.factoid {
    background-color: honeydew;

div.factoid>h3 {
     font-style: italic ;
    }

    h3 {
        font-size: larger:
        background-color: orange;
    }

    h3:hover {
        background-color: brown;
    }